SUPABASE_PROJECT_ID=""
SUPABASE_PUBLISHABLE_KEY=""
SUPABASE_URL=""
VITE_SUPABASE_PROJECT_ID=""
VITE_SUPABASE_PUBLISHABLE_KEY=""
VITE_SUPABASE_URL=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="http://localhost:8080/auth/google/callback"
VITE_GOOGLE_CLIENT_ID=""
VITE_GOOGLE_REDIRECT_URI="http://localhost:8080/auth/google/callback"
